.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

.carousel__fade-track .carousel__slide {
  opacity: 0;
  position: absolute;
  top: 0;
  transition-property: opacity;
}

.carousel__fade-track .carousel__slide--visible {
  opacity: 1;
  position: unset;
}
